pui
*_autoload*
_act*
*.swp
*.tmp
._pylon.dat
.gd*
conf/used
tmp
cscop*
runtime/*
run/*
avatar_origin/*
_notes
.rigger.dat
phpunit.xml.dist
.prjide
_prj/src_tags
_rg/.rigger*
rg.fail
*.log
sonar-project.properties
.sonar
_prj/tags
test/report/
test/reports/
